  body {
    font-family: 'HKGroteskRegular', sans-serif;
  }

  p {
    font-family: 'HKGroteskLight', sans-serif;
    font-weight: 400;
    color: #000000;
  }
  
  .container {
    background-color: #FFF;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 50px;
    border: #ECECEC solid 1px;
  }
  
  .profile-name {
    font-size: 21px;
    font-weight: 700;
    color: black;
    font-family: 'HKGroteskBold', sans-serif !important;
  }
  
  .title {
    font-size: 42px;
    font-weight: 400;
    color: #37837C;
    font-family: 'HKGroteskLight', sans-serif;
    margin-bottom: 8px;
  }

  .title-container {
    display: inline-flex; 
    justify-content: flex-start;
    align-items: center;
  }

  .pod-logo svg {
    vertical-align: sub !important;
    max-width: 68px !important;
    padding-right: 10px !important;
   }
  
  .icon {
    position: relative;
    bottom: 11px
  }
  
  .mt-100 {
    margin-top: 100px
  }

  .mt-50 {
    margin-top: 50px
  }
  
  .profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
  }
  
  .card {
    margin-top: 50px !important;
    border-radius: 10px !important;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FAFAFA !important;
    border: #ECECEC 1px solid !important;
  }
  
  .card-body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    bottom: 35px;
    padding: 0 10px !important;
  }
  
  .header {
    margin-bottom: 30px;
    text-align: left;
    padding: 40px 58px 0 58px;
  }

  .more-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .linkedin-logo img { 
    margin-top: 16px;
    max-width: 25px;
  }

   .page-title-container {
     display: flex;
     align-items: center;
     margin-top: 100px;
     margin-bottom: 100px;
   }

   .page-title {
      font-family: 'HKGroteskLight', sans-serif;
      color: #068464;
      font-size: 111px;
      font-weight: 400;
      line-height: 113%;
      text-align: left;
      padding-left: 32px;
   }

   .page-image  {
      max-width:100%;
      background: #FFFFFF;
      border: 1px solid #EFF1F1;
      box-sizing: border-box;
      border-radius: 20px;
   }

   .page-image img {
     max-width: 100%;
   }

   .profile-details-container {
     margin-top: 12px;
   }

   .profile-details {
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: 'HKGroteskBold', sans-serif;
   }

   .profile-sub-details {
    font-size: 14px;
    font-weight: 400;
    color: black;
    font-family: 'HKGroteskLight', sans-serif;
   }

   .card-action {
    margin-top: 16px;
   }

   a.cta-link {
    font-size: 14px;
    font-family: 'HKGroteskBold', sans-serif;
    color: #068464 !important;
    text-decoration: none;
    cursor: pointer;
   }

   .divider {   
    margin: 34px 0;
   }
