    
  @font-face {
    font-family: 'HKGroteskBold';
    src: local('HKGroteskBold'),
    url('./fonts/HKGrotesk/HKGrotesk-Bold.otf');
    font-weight: bold;
  }

  @font-face {
    font-family: 'HKGroteskLight';
    src: local('HKGroteskLight'),
    url('./fonts/HKGrotesk/HKGrotesk-Light.otf');
    font-weight: bold;
  }

  @font-face {
    font-family: 'HKGroteskRegular';
    src: local('HKGroteskRegular'),
    url('./fonts/HKGrotesk/HKGrotesk-Regular.otf');
    font-weight: bold;
  }
  
  body {
    font-family: 'HKGroteskRegular', sans-serif;
  }

  p {
    font-family: 'HKGroteskLight', sans-serif;
    font-weight: 400;
    color: #000000;
  }
  
  .container {
    background-color: #FFF;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 50px;
    border: #ECECEC solid 1px;
  }
  
  .profile-name {
    font-size: 21px;
    font-weight: 700;
    color: black;
    font-family: 'HKGroteskBold', sans-serif;
  }
  
  .searchbar {
    padding-right: 12px;
    font-size: 32px;
    font-weight: 400;
    color: #37837C;
    font-family: 'HKGroteskLight', sans-serif;
    margin-bottom: 8px;
    text-align: left;
  }

  .searchbar span {
    padding-right: 12px;
  }

  .title-container {
    display: inline-flex; 
    justify-content: flex-start;
    align-items: center;
  }
  
  .icon {
    position: relative;
    bottom: 11px
  }
  
  .mt-100 {
    margin-top: 100px
  }

  .mt-50 {
    margin-top: 50px
  }
  
  .profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
  }
  
  .card {
    margin-top: 50px !important;
    border-radius: 10px !important;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FAFAFA !important;
    border: #ECECEC 1px solid !important;
  }
  
  .card-body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    bottom: 35px;
    padding: 0 10px !important;
  }
  
  .header {
    margin-bottom: 30px;
    text-align: left;
    padding: 40px 58px 0 58px;
  }
  
  /* .linkedin-logo img { 
    margin-top: 16px;
    max-width: 50px;
  } */

   .page-title-container-list {
     margin-top: 24px;
     text-align: center;
   }

   .page-title-list {
      font-family: 'HKGroteskLight', sans-serif;
      color: #068464;
      font-size: 42px;
      font-weight: 600;
   }

   .page-logo {
    max-width: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   }
 
   .profile-details-container {
     margin-top: 12px;
   }

   .profile-details {
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: 'HKGroteskBold', sans-serif;
   }

   .profile-sub-details {
    font-size: 14px;
    font-weight: 400;
    color: black;
    font-family: 'HKGroteskLight', sans-serif;
   }

   .card-action {
    margin-top: 16px;
   }

   .cta-link {
    font-size: 14px;
    font-family: 'HKGroteskBold', sans-serif;
    color: #068464;
   }